For diploma.ncb
For diploma.suo
For diploma/Debug/
UpgradeLog.XML
_UpgradeReport_Files/
Debug/
For diploma/For diploma.vcproj.7.10.old
For diploma/For diploma.vcproj.old
For diploma/Release/
UpgradeLog.htm
Backup/
CompilerOnCPP/CompilerOnCPP.vcxproj.filters
CCompiler.sdf
For diploma/For diploma.vcxproj.filters
CCompiler.opensdf
Preprocessor/Preprocessor.vcxproj.filters
