For diploma.ncb
For diploma.suo
For diploma/Debug/
UpgradeLog.XML
_UpgradeReport_Files/
Debug/
For diploma/For diploma.vcproj.7.10.old
For diploma/For diploma.vcproj.old
UpgradeLog.htm
CCompiler.opensdf
CCompiler.sdf
obj/
bin/
For diploma/test2.c
